{% extends 'base.html' %}
{% load static %}

{% block title %}
Sobre | M&M Gestão em Saúde
{% endblock %}

{% block content %}

<section class="container py-5">

    <div class="text-center mb-5">

        <h6 class="texto-dourado fw-bold">
            SOBRE NÓS
        </h6>

        <h1 class="texto-verde fw-bold">
            M&M Gestão em Saúde
        </h1>

        <p class="lead">
            Capacitando profissionais e promovendo excelência na área da saúde.
        </p>

    </div>

</section>


<section class="container py-5">

    <div class="row align-items-center">

        <div class="col-lg-5 mb-4">

            <img
                src="{% static 'img/michelle.sobre.png' %}"
                class="img-fluid rounded shadow foto-equipe"
                alt="Michelle Dias do Nascimento de Paulo"
            >

        </div>

        <div class="col-lg-7">

            <h6 class="texto-dourado fw-bold">
                RESPONSÁVEL TÉCNICA
            </h6>

            <h2 class="texto-verde fw-bold mb-3">
                Michelle Dias do Nascimento de Paulo
            </h2>

            <p>
                Enfermeira com 7 anos de experiência em Terapia Intensiva,
                atuando com excelência, segurança do paciente e cuidado
                humanizado.
            </p>

            <p>
                Além da atuação assistencial, dedica-se à capacitação de
                profissionais da saúde por meio de palestras e treinamentos,
                contribuindo para o desenvolvimento técnico e fortalecimento
                da educação continuada.
            </p>

            <div class="row mt-4">

                <div class="col-md-6">

                    <div class="card border-0 shadow-sm mb-3">

                        <div class="card-body">

                            <h5 class="texto-dourado">
                                Qualificações
                            </h5>

                            <ul class="mb-0">
                                <li>Bacharelado em Emfermagem</li>                               
                                <li>7 anos de experiência </li>
                                <li>Atuação em Intra Hospitalar foco em Paciente Crônico(Oncologia) e UTI</li>
                            </ul>

                        </div>

                    </div>

                </div>

                <div class="col-md-6">

                    <div class="card border-0 shadow-sm mb-3">

                        <div class="card-body">

                            <h5 class="texto-dourado">
                                Especialiazação
                            </h5>

                            <ul class="mb-0">
                                <li>Urgência e Emergência</li>
                                <li>UTI </li>
                                <li>Enfermagem do Trabalho</li>
                                <li>Auditoria em Saúde</li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<section class="container py-5">

    <div class="row align-items-center">

        <div class="col-lg-5 mb-4">

            <img
                src="{% static 'img/maicon.png' %}"
                class="img-fluid rounded shadow foto-equipe"
                alt="Maicon Santos da Luz"
            >

        </div>

        <div class="col-lg-7">

            <h6 class="texto-dourado fw-bold">
                RESPONSÁVEL TÉCNICO
            </h6>

            <h2 class="texto-verde fw-bold mb-3">
                Maicon Santos da Luz
            </h2>

            <p>
                Enfermeiro graduado com 11 anos de experiência na área da saúde,
                atuando com compromisso, ética e dedicação ao cuidado humanizado.
            </p>

            <p>
                Ao longo da trajetória profissional, buscou constante
                aperfeiçoamento técnico e científico, fortalecendo sua atuação
                em diferentes contextos assistenciais e de gestão.
            </p>

            <div class="row mt-4">

                <div class="col-md-6">

                    <div class="card border-0 shadow-sm mb-3">

                        <div class="card-body">

                            <h5 class="texto-dourado">
                                Qualificações
                            </h5>

                            <ul class="mb-0">                               
                                <li>Bacharelado em Emfermagem</li>
                                <li>11 anos de experiência</li>
                                <li>Atuação em Intra Hospitalar e APH</li>
                            </ul>

                        </div>

                    </div>

                </div>

                <div class="col-md-6">

                    <div class="card border-0 shadow-sm mb-3">

                        <div class="card-body">

                            <h5 class="texto-dourado">
                                Especialiazação
                            </h5>

                            <ul class="mb-0">
                                <li>Urgência e Emergência</li>
                                <li>UTI</li>
                                <li>Resgate e Apoio Aeromédico</li>
                                
                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<section class="container py-5">

    <div class="text-center mb-5">

        <h6 class="texto-dourado fw-bold">
            NOSSA ESSÊNCIA
        </h6>

        <h2 class="texto-verde fw-bold">
            Missão, Visão e Valores
        </h2>

    </div>

    <div class="row">

        <div class="col-lg-4 mb-4">

            <div class="card h-100 shadow-sm border-0">

                <div class="card-body text-center">

                    <h3>🎯</h3>

                    <h4 class="texto-verde">
                        Missão
                    </h4>

                    <p>
                        Saúde com Segurança e Clareza!
                        Capacitar pessoas para transformar vidas e carreiras, oferecendo treinamentos de qualidade, atualizados e alinhados as necessidades do mercado promovendo desenvolvimento profissional, excelência técnica e crescimento contínuo.
                        Garantir o seu bem-estar através de um atendimento verdadeiramente personalizado. Trabalhamos com rigor técnico e protocolos de alta performance para entregar soluções seguras e eficientes, sempre com um custo-benefício justo e total transparência. Acreditamos que cuidar da sua saúde exige confiança, e é isso que oferecemos em cada etapa.
                    </p>

                </div>

            </div>

        </div>

        <div class="col-lg-4 mb-4">

            <div class="card h-100 shadow-sm border-0">

                <div class="card-body text-center">

                    <h3>👁️</h3>

                    <h4 class="texto-verde">
                        Visão
                    </h4>

                    <p>
                        Referência e Confiança!
                        Ser referência em capacitação profissional, reconhecida pela excelência no ensino, inovação, credibilidade e impacto positivo na formação de profissionais preparados para os desafios do mercado de trabalho.
                        Queremos ser a sua primeira escolha quando o assunto é saúde. Buscamos consolidar nossa trajetória sendo reconhecidos pela precisão técnica de nossos serviços e pelo compromisso inabalável com a integridade, garantindo que você se sinta seguro e acolhido em todos os momentos.
                    </p>

                </div>

            </div>

        </div>

        <div class="col-lg-4 mb-4">

            <div class="card h-100 shadow-sm border-0">

                <div class="card-body text-center">

                    <h3>⭐</h3>

                    <h4 class="texto-verde">
                        Valores
                    </h4>

                    <p>
                        O Que guia nosso trabalho é o rigor técnico que você pode Confiar: Qualidade não é um diferencial, é nossa base. Todos os nossos processos seguem evidências e as melhores práticas do setor, assegurando a sua segurança em cada detalhe.
                        •	Excelência: Buscar sempre a mais alta qualidade em nossos treinamentos e serviços
                        •	Ética: Conduzir todas as ações com transparência, respeito e integridade.
                        •	Confiabilidade em Primeiro Lugar: Valorizamos relações duradouras, trabalhando com previsibilidade, resultados consistentes e ética absoluta, para que você tenha a tranquilidade de estar em boas mãos.
                        •	Transparência Real: Nada de letras miúdas. Aqui, valorizamos a honestidade em cada interação. Apresentamos nossas soluções de forma clara e objetiva, para que você tenha total controle sobre o seu investimento, sem surpresas.
                        •	Eficiência que faz a diferença: Combinamos agilidade no atendimento com processos inteligentes. Nosso objetivo é entregar um serviço de alto valor agregado, unindo qualidade técnica e preços competitivos, porque acreditamos que saúde de ponta deve ser acessível.
                    </p>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}