{% extends 'base.html' %}

{% block content %}

<section class="container py-5">

    <h1 class="texto-verde fw-bold mb-4">
        Sobre a M&M Gestão em Saúde
    </h1>

    <p>
        A M&M Gestão em Saúde atua na capacitação,
        desenvolvimento profissional e treinamento
        de equipes da área da saúde.
    </p>

    <p>
        Nosso compromisso é promover conhecimento,
        excelência e desenvolvimento humano através
        de soluções educacionais personalizadas.
    </p>

</section>

{% endblock %}